* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  background: url(assets/freedom.png) center no-repeat;
  background-size: cover;
  text-align: center;
}

nav {
  position: fixed;
  bottom: 0;
  right:  0;
}

nav ul>li{
  display: inline-block;
}

nav a {
  color: #BAB;
  font-size: 24px;
}

nav a:hover {
  opacity: .7;
  text-decoration: none;
}

nav ul {
  background-color: rgba(0,0,0,.3);
  padding: 5px 15px;
}

blockquote {
  font-family: "Julius Sans One", sans-serif;
  text-transform: uppercase;
  letter-spacing: .015rem;
}

blockquote::before, blockquote::after {
  content: '"';
}

em {
  font-family: "Crimson Text", serif;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 10vh;
  }
  
  blockquote {
    font-size: 2rem;
  }
  
  em {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {  
  blockquote {
    font-size: 2.5rem;
  }
  
  em {
    font-size: 1.5rem;
  }
}